body{
    padding: 0%;
    margin: auto;

    color: rgb(255, 255, 255);
    font-family: "Roboto";
}


.nav{
    background-color:rgb(187, 8, 8);
    width: 100%;
    height: 200px;


    padding-top: 10px;
    padding-bottom: 0%;
    padding-left: 0%;
    padding-right: 0%;

    margin-left: 0px;
    margin-bottom: 0px;
    margin-bottom: 0px;

    /*position: sticky;*/
    top: 0;
}


.nuevo_div
{
    background-color: rgb(92, 92, 92);
    height:640px;
    width:100%;

    padding-top: 50px;

    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;   
}

.clic
{
    border-color: brown;
}

.material-icons
{
    padding-left: 60%;
    padding-top: 1px;
    padding-right: 80px;
    margin-top: 25px;
    border-color: brown;

    display: flex;
    text-decoration: none;
}

.botones
{
    width: 50px;
    height: 20px;
    background-color: black;
    color: white;
    font-size: 16px;
    font-family: 'Roboto';
    
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom:0px;

    margin-top: 0px;
    margin-right:70px;

    border-radius: 5px;
    
    text-decoration: none;
    
}

.final-page
{
    background-color: rgb(9, 33, 98);
    height: 520px;
    width:100%;

    padding-top: 80px;

    display: flex;
    justify-content: center;   
}

