
.botones-nav
{
    height: 80px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    padding-left: 60px;
    padding-top: 40px;
    padding-bottom: 20px;
}

.boton{

    width: 110px;
    height: 50px;
    left: 80px;
    top: 264px;

    background: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 10px;

    display: flex;
    justify-content: center;
}

a:link, a:visited,  a:hover, a:active
{
    color: #00000000;
    text-decoration: none;
}

.boton  h1
{
    height: 10px;
    font-size: 20px;
    color:rgb(0, 0, 0);
}
.icono{
    height: 20px;
    width: 20px;
    
    padding-right: 12px;
    padding-left: 0px;
}

.boton:hover
{
    box-shadow:2px 2px 2px 2px rgba(192, 192, 192, 0.411);
    transform: translateY(-8%);
    /*transform: translatex(-2%);*/
}

