.content-informacion
{
    background-color: #b15151;

    width: 500px; /*ancho*/
    height: 500px; /*alta*/

    padding-top: 20px;
}


.card-informacion
{
    
    margin-left: 60px;
    margin-bottom: 10px;
    margin-right: 100px;
    height: 100px; /*alto*/
    width: 350px; /*ancho*/

    color: #000000;
    

    background-color: rgb(255, 255, 255);   
    border: 10px;
    border: 2px solid #000000;
    border-radius: 8px;

    display: flex;
    justify-content: center;   
}

.icono-informacion{
    height: 50px;
    width: 50px;
    background-color: rgb(0, 0, 0);

    
    margin-top: 20px;
}

.titulo-programa
{
    font-family: 'Roboto';
    font-size: 24px;
    
    padding-right: 40px;

}