.info-perfil
{
    width: 100%;
    height: 200px;
    padding-left: 120px;

    /*border: 1px solid black;*/
    /*background-color: red;*/

    animation: anim-texto;
    animation-duration: 2s;
}

.info-perfil h1{

    font-size: 40px;
}
.info-perfil h3{

    font-size: 22px;
    

    width: 200px;

    padding: 0%;
    margin: 0;

    /*border: 1px solid black;*/
}

@keyframes anim-texto
{
    0%{
        opacity: 0;
    }
    100%
    {
        opacity:100%;
    }
}