.info-carrera{

    padding-top: 0px ;
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 400px;

    
}
.informacion
{

    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
    padding-left: 120px;

}

.card
{
    background-color: red;
    margin-left: 120px;
    margin: 10px;
    width: 220px; /*ancho*/
    height: 100px;

    background-color: rgb(255, 255, 255);
    border-radius: 10px;

    text-align:center;
    border: 1px black solid;

    animation: anim-grid;
    animation-duration: 2s;
}

.card h3{
    margin-top:36px;
    /*border: 1px black solid;*/
}

.card:hover
{
    background-color: rgba(51, 255, 0, 0.267);
    box-shadow:2px 2px 2px 2px rgba(192, 192, 192, 0.411);
    transform: translateY(-8%);
}

@keyframes anim-grid
{
    0%{
        transform: translateY(50%);
    }
    100%{
        transform: translateY(0);
    }
}