.conetenedor-materias
{
    background-color: #ffffff;
    height: 400px;
    width:100%;

    padding-top: 50px;
    padding-bottom: 0px;
    padding-left: 20px;
    
    margin-bottom: 20px;

    display: flex;
    justify-content: center;   

    /*background-color: red;*/
}

.card{
    
    width: 250px; /*ancho*/
    height: 350px; /*alto*/

    border-radius: 10px;
    
    margin-left: 20px;
    margin-top: 0px;
    margin-bottom: 10px;
    margin-right: 20px;

    background-color: rgb(31, 31, 31);
    box-shadow: 0 4px 8px 0 rgba(88, 88, 88, 0.2), 0 6px 20px 0 rgba(82, 82, 82, 0.19);

    border-width:0.05px;
	border-style:solid;
    border-color: rgb(131, 131, 131);

    transition: all 400ms ease;

    
}
.card:hover
{
    box-shadow:2px 5px 4px 4px rgb(179, 179, 179);
    transform: translateY(-2%);
    /*transform: translatex(-2%);*/
}

.img{
    width:100%;/*ancho*/
    height: 70%; 
    border-radius: 10px  10px 0px 0px;
}

.titulo-card
{
    margin-top: 30px;
    margin-left: 30px;
    margin-bottom: 5px;
    font-size: 20px;
    font-family: 'Roboto';
    color: rgb(255, 255, 255);
    
    width:200px;
    height: 22px;

    /*border: 1px black solid;*/
    
}
.descripcion
{
    margin-left: 30px;
    margin-top: 0px;
    margin-bottom: 0px;

    font-size: 14px;
    font-family: 'Roboto';
    color: rgb(255, 255, 255);

    width: 100px;
    height: 20px;

    /*border: 1px black solid;*/
}

.titulo-card h1 p
{
    color: #ffffff;
    text-decoration: none;
}

a:link, a:visited,  a:hover, a:active
{
    color: #000000;
    text-decoration: none;
}
