.nav
{
    height: 20%;
    display: flex;
    justify-content: center;   

    margin-left: 0px;
    padding-left: 0px;
    background-color: #2e2e2e;
}
.univalle-logo
{
    margin-top: 20px;
    margin-left:0px;
    margin-right:6%;
    
    padding-left: 0px;


    height:150px;
    width: 450px;

    /*border: 1px solid #1f1c1c;*/
    
    display: flex;
    justify-content: left;  
}

.logo
{
    margin-top: 20px;
    padding-right: 10px;
    padding-left: 0px;
    height:70px;
    width: 70px;

    animation-name: anim-titulo;
    animation-duration: 1s;
}

.titulo{
    color: aliceblue;
    font-size: 28px;
    font-family: 'Roboto';

    margin-top: 20px;
    margin-bottom: 5px;
    margin-left: 20px;
    padding-left: 10px;

    /*border: 1px solid #1f1c1c;*/

    height: 30px;
    width: 300px;

    animation-name: anim-titulo;
    animation-duration: 1s;
}
.subtitulo{
    color: aliceblue;
    font-size: 22px;
    font-family: 'Roboto';
    
    margin-left: 20px;
    margin-top: 0px;
    padding-left: 10px;
    height: 30px;
    width: 300px;

    animation-name: anim-titulo;
    animation-duration: 3s;
    /*border: 1px solid #1f1c1c;*/
}

@keyframes anim-titulo
{
    0%{
        opacity: 0%;
    }
    100%{
        opacity: 100%;
    }
}