.univalle-perfil
{
    margin-top: 0px;
    margin-left:60px;
    margin-right: 0px;

    padding-right: 0px;
    padding-top: 50px;


    height:100px;
    width: 500px;/*ancho*/

    display: flex;
    justify-content: right;

    /*border: 1px 10px solid #0a0a0a;*/
    /*background-color: red;*/
}



.fondo{
    
    background: #ECECEC;
    border: 1px solid #000000;
    border-radius: 12px;
    height: 60px;
    width: 300px;

    padding-top: 0px;
    margin-top: 0px;

    display: flex;
    justify-content: center;

}

.fondo:hover
{
    background-color: rgb(255, 255, 255);
    box-shadow:2px 2px 0px 0px rgb(0, 0, 0);
    transform: translateY(8%);
}

.fondo h1
{
    height:15px;
    width: 160px;
    text-align: left;

    color: rgb(7, 7, 7);
    font-size: 12px;
    font-family: 'Roboto';

    margin-top: 20px;
    margin-left: 0px;
    margin-right: 10px;

    /*border: 1px solid #000000;*/

}

.icono-user{
    color: black;
    font-size: 26px;
    padding-top: 15px;
}
